.control {
  position: relative;

  width: 318px;
  height: 36px;

  border: 2px solid #ffffff;
  border-radius: 1px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;
    margin-top: -11px;
    margin-left: -1px;

    background-color: #ffffff;
  }
}

.control__value {
  display: inline-block;
  width: 144px;
  padding-left: 64px;

  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.control__input {
  width: 50px;
  padding: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
}
