.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 195px;

  text-align: left;
}

.copyright__text {
  line-height: 26px;
}

.copyright__link {
  display: block;
  width: 115px;
  height: 41px;

  background-image: url(../../img/copyright-image.svg);
  background-repeat: no-repeat;
  background-position: center center;

  &:hover,
  &:focus {
    background-image: url(../../img/copyright-image-blue.svg);
  }
  &:active {
    background-image: url(../../img/copyright-image-gray.svg);
  }
}
