.field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &--adults {
    width: 226px;
  }

  &--children {
    width: 179px;
    margin-left: auto;
  }
}

.field__text {
  min-width: 40px;
}

.field__input {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font: inherit;
  color: inherit;
  line-height: 26px;
  text-transform: uppercase;
  outline: none;

  &--date {
    width: 346px;
    padding-right: 38px;
    padding-left: 12px;
  }

  &--numbers {
    width: 38px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
  }

  &:hover {
    background-color: #ebebeb;
  }

  &:focus  {
    background-color: $main-background-color;
    border: 1px solid #e5e5e5;
  }
}

.field__calendar {
  background-color: transparent;
  position: absolute;
  right: 3px;
  top: 7px;
  fill: #cacaca;
  outline: none;
  &:hover,
  &:focus {
    fill: #000000;
  }
  &:active {
    fill: $light-blue;
  }
}

.field__input-block {
  display: flex;
}

.field__button {
  width: 38px;
  height: 38px;
  position: relative;
  cursor: pointer;
  background-color: #f2f2f2;
  outline: none;
}

.field__button--minus {
  &:hover,
  &:focus {
    &::before {
      background-color: #000000;
    }
  }
  &:active {
    &::before {
      background-color: $light-blue;
    }
  }


  &::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.field__button--plus {
  &:hover,
  &:focus {
    &::before,
    &::after {
      background-color: #000000;
    }
  }
  &:active {
    &::before,
    &::after {
      background-color: $light-blue;
    }
  }


  &::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 3px;
    background-color: #a9a9a9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 12px;
    background-color: #a9a9a9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
