.greeting-block {
  position: relative;

  width: 1200px;
  height: 508px;

  background-color: #406581;
  background-image: url("../../img/greeting-background-image.jpg");
  background-repeat: no-repeat;
  background-position: 50% 28%;
  background-size: cover;


  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 57px;

    background-image: url("../../img/greeting-image-border.png");
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}

.greeting-block_image {
  position: absolute;
  top: 76px;
  left: 50%;

  display: block;
  width: 458px;
  height: 352px;
  margin-left: -229px;
}


