.hotel-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  padding-top: 53px;
  padding-right: 100px;
  padding-bottom: 0;
  padding-left: 100px;

  text-align: center;
}

.hotel-search__question {
  width: 370px;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.hotel-search__text {
  width: 445px;
  margin: 0;
  margin-bottom: 47px;
  padding: 0;

  line-height: 24px;
}

.hotel-search__link {
  width: 568px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 21px;
  line-height: 26px;

  @include button-brown;

  &:hover,
  &:focus {
    @include button-brown-hover;
  }

  &:active {
    @include button-brown-active;
  }
}
