.options {
  min-width: 170px;
  padding: 0;

  border: none;
}

.options__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.options__list {
  @include for-list;
}

.options__item {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}
