.page-header {
  position: relative;

  width: 1200px;
  padding-right: 73px;
  padding-left: 73px;

  background-color: $main-background-color;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -69px;
}
