.page-footer {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-right: 73px;
  padding-left: 73px;

  &--transparent {
    z-index: 3;

    margin-top: -120px;

    background-color: #ffffff;
    opacity: 0.902;
  }
}

.page-footer__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 241px;
  margin-right: 88px;
  padding-top: 36px;
  padding-bottom: 36px;

  vertical-align: middle;
  &:last-child {
    margin-right: 0;
  }
  &--center {
    width: 401px;
  }
}
