.page-footer {
  width: 1200px;
  padding-top: 36px;
  padding-left: 132px;
  padding-bottom: 36px;
  padding-right: 101px;
  display: flex;
  align-items: flex-start;

  &--transparent {
    background-color: #ffffff;
    opacity: 0.902;
    margin-top: -120px;
    z-index: 3;
  }
}

.page-footer__hashtag {
  margin-top: 12px;
  margin-right: auto;
  margin-left: 0;
}

.page-footer__social {
  margin-left: 109px;
  margin-right: 85px;
}

.page-footer__copyright {
  margin-top: 3px;
  margin-right: 0;
  margin-left: auto;
}
