.price {
  width: 318px;
  margin: 0;
  padding: 0;

  border: none;
}

.price__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price__controls {
  margin-bottom: 20px;
}

.price__range-controls {
  margin-bottom: 32px;
}

