.promo__list {
  display: flex;
  flex-wrap: wrap;

  @include for-list;
}

.promo__item {
  position: relative;

  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 400px;
  padding-top: 161px;
  padding-right: 57px;
  padding-bottom: 75px;
  padding-left: 57px;

  text-align: center;

  &::after {
    content: "";
    position: absolute;
    left: 50%;

    background-repeat: no-repeat;
    background-position: top center;
  }

  &--house::after {
    top: 60px;

    width: 75px;
    height: 72px;
    margin-left: -37px;

    background-image: url("../../img/promo-image-1.svg");
  }

  &--burger::after {
    top: 61px;

    width: 74px;
    height: 70px;
    margin-left: -37px;

    background-image: url("../../img/promo-image-2.svg");
  }

  &--present::after {
    top: 56px;

    width: 64px;
    height: 76px;
    margin-left: -33px;

    background-image: url("../../img/promo-image-3.svg");
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.promo__description {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
}
