.range-controls {
  position: relative;
}

.range-controls__scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls__bar {
  width: 80%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.range-controls__toggle {
  width: 20px;
  height: 20px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  position: absolute;
  top: -9px;

  &--min {
    left: 0;
  }

  &--max {
    left: 80%;
  }

  &:hover {
    background: #1c4f80;
  }
}
