.social {
  width: 150px;
}

.social__list {
  @include for-list;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $light-blue;
  background-position: center center;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    @include button-main-hover;
  }

  &:active {
    @include button-main-active;
  }

  &--twitter {
    background-image: url("../../img/socials-twitter.svg");
    &:active {
      background-image: url("../../img/socials-twitter-dark.svg");
    }
  }

  &--facebook {
    background-image: url("../../img/socials-facebook.svg");
    &:active {
      background-image: url("../../img/socials-facebook-dark.svg");
    }
  }

  &--youtube {
    background-image: url("../../img/socials-youtube.svg");
    &:active {
      background-image: url("../../img/socials-youtube-dark.svg");
    }
  }
}
