.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;

  @include for-list;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;

  background-color: $light-blue;
  background-repeat: no-repeat;
  background-position: center center;

  &:hover,
  &:focus {
    @include button-main-hover;
  }

  &:active {
    @include button-main-active;
  }

  &--twitter {
    background-image: url("../../img/socials-twitter.svg");
    &:active {
      background-image: url("../../img/socials-twitter-dark.svg");
    }
  }

  &--facebook {
    background-image: url("../../img/socials-facebook.svg");
    &:active {
      background-image: url("../../img/socials-facebook-dark.svg");
    }
  }

  &--youtube {
    background-image: url("../../img/socials-youtube.svg");
    &:active {
      background-image: url("../../img/socials-youtube-dark.svg");
    }
  }
}
