@mixin for-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin button-main-hover {
  background-color: $light-blue-hover;
}

@mixin button-main-active {
  color: #94b9d2;

  background-color: $light-blue-active;
}

@mixin button-brown {
  background-color: $brown;
}

@mixin button-brown-hover {
  background-color: $brown-hover;
}

@mixin button-brown-active {
  color: #928a85;

  background-color: $brown-active;
}
